<%provide(:title, @member.name) %>
<p id="notice"><%= notice %></p>

<p>
  <h1>
  	<%= gravatar_for @member %>
  	<%= @member.name %>
  </h1>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
